#switch-toolbar {
    position:fixed;
    bottom: 20px;
    right: 40px;
    max-width:500px;
    height:40px;
}

#switch-toolbar button{
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 5px 12px;
    border: 1px solid rgb(209, 208, 208);
}